@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-8 p-0">
        <div class="page-header">
            <div class="page-title">
                <h1>Trang chủ</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-0">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Trang chủ</a></li>
                    <li class="active">Home</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>
<!-- /# row -->
<div class="main-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="widget-icon color-1">
                        <i class="ti-cup"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-text">Cuộc thi </div>
                        <div class="stat-digit">@ViewBag.SLCuocThi</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="widget-icon color-2">
                        <i class="fas fa-list"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-text">Đội tuyển</div>
                        <div class="stat-digit">@ViewBag.SLDoiTuyen</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="widget-icon color-3">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-text">Sinh viên</div>
                        <div class="stat-digit">@ViewBag.SLSinhVien</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="widget-icon color-4">
                        <i class="fas fa-user-check"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-text">Huấn luyện viên</div>
                        <div class="stat-digit">@ViewBag.SLGiaoVien</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
    <!-- /# row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card alert">
                <div class="card-header">
                    <h4>Lượt đăng nhập </h4>
                    <div class="card-header-right-icon">
                        <ul>
                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                            <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="sales-chart  card-content">
                    <canvas id="sales-chart"></canvas>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-6">
            <div class="card alert">
                <div class="card-header">
                    <h4>Tỷ lệ sinh viên tham gia các cuộc thi </h4>
                    <div class="card-header-right-icon">
                        <ul>
                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                            <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="sales-chart card-content">
                    <canvas id="team-chart"></canvas>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
    <!-- /# row -->
    <div class="row">
        <div class="col-lg-6">
            <div id="lobipanel-custom-control" class="card alert panel panel-default">
                <div class="card-header">
                    <h4>Thống kê trình duyệt</h4>
                    <div class="card-header-right-icon">
                        <ul>
                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body panel-body">
                    <table class="table table-responsive table-hover ">
                        <tbody>
                            <tr>
                                <td class="no-border">Google Chrome</td>
                                <td class="no-border"><span class="badge badge-primary">45%</span></td>
                            </tr>
                            <tr>
                                <td>Mozila Firefox</td>
                                <td><span class="badge badge-success">65%</span></td>
                            </tr>
                            <tr>
                                <td>Safari</td>
                                <td><span class="badge badge-danger">10%</span></td>
                            </tr>
                            <tr>
                                <td>Opera Mini</td>
                                <td><span class="badge badge-primary">29%</span></td>
                            </tr>
                            <tr>
                                <td>Microsoft Edge</td>
                                <td><span class="badge badge-success">95%</span></td>
                            </tr>
                            <tr>
                                <td>Internet Explorer</td>
                                <td><span class="badge badge-danger">25%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-6">
            <div class="card alert">
                <div class="card-header">
                    <h4>Những việc cần làm</h4>
                    <div class="card-header-right-icon">
                        <ul>
                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="todo-list">
                    <div class="tdl-holder">
                        <div class="tdl-content">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"><i></i><span>Niêm yết công khai kế hoạch </span>
                                        <a href='#' class="ti-close"></a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" checked><i></i><span>Nhận hồ sơ</span>
                                        <a href='#' class="ti-close"></a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox"><i></i><span>Thông báo, niêm yết danh sách thí sinh dự thi.</span>
                                        <a href='#' class="ti-close"></a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" checked><i></i><span>Thông báo kết quả</span>
                                        <a href='#' class="ti-close"></a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" checked><i></i><span>Tiếp nhận, giải quyết thắc mắc</span>
                                        <a href='#' class="ti-close"></a>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="tdl-new form-control" placeholder="Thêm mới và nhấn 'Enter'...">
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
</div>