@model IEnumerable<Models.EF.a_GiaoVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .lms-input-group {
        margin-top: 15px;
    }

    .error-message {
        color: red;
    }

</style>
<div class="row">
    <div class="col-lg-8 p-0">
        <div class="page-header">
            <div class="page-title">
                <h1>Quản lý giáo viên</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-0">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/Admin/HomeAd/Index">Trang chủ</a></li>
                    <li class="active">Quản lý giáo viên</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>
<div class="main-content">
    <div class="row">
        <div class="card alert">
            <div class="card-header">
                <div class="col-lg-6" style="padding-left:0px">
                    <div class="button-list">
                        <button type="button" class="btn btn-success  btn-flat btn-addon m-b-10 m-l-5" onclick="Add(0)"><i class="ti-plus"></i> Thêm mới</button>
                        <button type="button" disabled class="btn btn-danger btn-flat btn-addon m-b-10 m-l-5 " id="btn-delete-all" onclick="Link_DeleteTT_onclick(0)"><i class="ti-trash"></i> Xóa bỏ</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-offset-6 custom-search-form">
                        <input class="form-control" value="@ViewBag.Search" name="Search" id="txtSearch" placeholder="Tìm kiếm ..." />
                        <input type="text" class="form-control" tabindex="2" style="display:none" />
                    </div>
                </div>
            </div>
            <div class="card-body" id="tableNguoiDung">
                @Html.Action("getList", "dGiaoVien")
            </div>
        
        </div><!-- /# card -->
    </div>
</div>

<!-- Modal xóa -->
@Html.Partial("~/Areas/Admin/Views/Shared/HoiXacNhan_Modal.cshtml")
<!-- Modal thông báo -->
@Html.Partial("~/Areas/Admin/Views/Shared/ThongBao_Modal.cshtml")

<!-- Modal -->
<div id="addNewUser" class="modal fade" role="dialog">
    <div class="modal-dialog" style="top:45%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="tieude"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="id" name="id" style="display:none" value="0" />
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-title right">Họ tên <span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <input type="text" id="NewFirstName" name="NewFirstName" value="" class="form-control" maxlength="15" />
                                </div>
                                <span id="errTen" style="display:none;" class="error-message pull-right"></span>
                            </div>

                            <div class="lms-input-group">
                                <div class="input-group-title right">Tên đăng nhập <span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <input type="text" name="NewUserName" maxlength="32" class="form-control" id="NewUserName" />
                                </div>
                                <span id="errUsername" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Mật khẩu <span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <input type="password" id="NewPassword" placeholder="********" style="color:#444" name="NewPassword" maxlength="8" class="form-control" />
                                    <p class="text-muted" hidden>Mật khẩu không chứa khoảng trắng đầu và cuối.</p>
                                </div>
                                <span id="errPass" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Ngày sinh</div>
                                <div class="input-group-content">
                                    <input type="date" class="form-control" name="NewBirthday" id="NewBirthday" value="" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                </div>
                                <span id="errNgaySinh" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Email<span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <input type="text" id="NewEmail" name="NewEmail" value="" class="form-control" maxlength="100" />
                                </div>
                                <span id="errEmail" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Địa chỉ</div>
                                <div class="input-group-content">
                                    <input type="text" name="NewAddress" id="NewAddress" value="" class="form-control" maxlength="255" />
                                </div>

                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Giới tính</div>
                                <div class="input-group-content">
                                    <div class="col-md-4">
                                        <input type="radio" id="NewGender_1" name="NewGender" value="True" checked />
                                        <label for="radNewGenderMale" class="group-label input-label">Nam</label>
                                    </div>
                                    <div class="group">
                                        <input type="radio" id="NewGender_0" name="NewGender" value="False" />
                                        <label for="radNewGenderFemale" class="group-label input-label">Nữ</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-title right">Ảnh đại diện</div>
                                <div class="input-group-content">
                                    <img id="imgAvatar" src="~/Content/Images/Avatars/images.png" width="200" height="200" />
                                    <label for="fImage" class="a_hover">
                                        <i class="fa fa-camera" for="imageUpload" style="position:relative; top:-70px; right:40px; font-size:30px; color:#12111175"></i>
                                    </label>
                                    <input type="file" id="fImage" onchange="changeIMG()" name="fImage" accept="*/image" style="display:none" />
                                </div>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Số điện thoại</div>
                                <div class="input-group-content">
                                    <input type="text" name="NewPhone" id="NewPhone" value="" maxlength="20"  class="form-control" />
                                </div>
                            </div>

                            <div class="lms-input-group">
                                <div class="input-group-title">Kiểu người dùng <span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <select id="ddlKieuND" name="ddlKieuND" class="form-control">
                                        <option value="1" selected>Quản trị viên</option>
                                        <option value="2">Người dùng</option>
                                    </select>
                                </div>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Kích hoạt</div>
                                <div class="input-group-content">
                                    <div class="col-md-4">
                                        <input type="radio" id="activeKH_1" name="activeKH" value="True" checked />
                                        <label for="radNewGenderMale" class="group-label input-label">Có</label>
                                    </div>
                                    <div class="group">
                                        <input type="radio" id="activeKH_0" name="activeKH" value="False" />
                                        <label for="radNewGenderFemale" class="group-label input-label">Không</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>


            <div class="modal-footer" style="text-align:center">
                <button class="btn btn-success" type="button" id="btnAddUser" onclick="Save()"><i class="ti-save" aria-hidden="true"></i><span> Lưu</span></button>
                <button class="btn btn-primary" type="reset" data-dismiss="modal"><i class="ti-close" aria-hidden="true"></i><span> Hủy</span></button>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script src="~/Areas/Admin/Js/dGiaoVien.js"></script>
}