@{
    ViewBag.Title = "Tiện ích";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hd-top-block {
        position: unset !important;
    }
    .paragraph{
        background:#ffffff;
    }
    .item{
        margin-left:10px;
    }
    .head {
        margin-left: 10px;
    }
</style>

<div class="page-wrapper pt-3">
    <div class="container">
        <main role="main" class="pb-3">
            <input id="hidFileServer" name="hidFileServer" type="hidden" value="https://static-v2.hanoi.gov.vn/storage/index/file" />
            <div class="d-none" id="smartCityPrefix"></div>
            <h1 class="page-title" hidden>H&#x1B0;&#x1EDB;ng d&#x1EAB;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; tuy&#x1EC3;n sinh tr&#x1EF1;c tuy&#x1EBF;n</h1>

            <div class="row">
                <div class="col-12 col-md-3 mb-3 mb-md-0">
                    <div class="content-left-wrapper">
                        <div class="lst-doet pt-2 pb-2 text-center bg-primary text-white br-025">Hướng dẫn</div>
                        <div class="list-group">
                            <div id="content-left" style="padding: 10px">
                                <div id="ListOrganization" class="list-group">
                                    <a class="list-group-item list-group-item-action active" href="#page-gt" onclick="jsWalkthrough.changePage(this, event);">Giới thiệu</a>
                                    <a class="list-group-item list-group-item-action" href="#page-hd" onclick="jsWalkthrough.changePage(this, event);">Hướng dẫn sử dụng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="page-item active" id="page-gt" style="background:#ffff;">
                        <h2 class="head" style="text-align:center">GIỚI THIỆU CHUNG VỀ KHOA CNTT - VIỆN ĐH MỞ HN</h2>
                        <p></p>
                        <div class="paragraph" style="margin-top: 10px">
                            <div class="item" style="margin-bottom: 5px">
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;Khoa Tin học thuộc Viện Đại học Mở Hà Nội (FITHOU) được Bộ Giáo dục và Đào tạo quyết định thành lập theo quyết định số 2653/QĐ-TCCB ngày 01/12/1993.<br />
                                    Hàng năm, Khoa lấy ngày 15 tháng 3 làm ngày truyền thống trên cơ sở là ngày đầu tiên được tổ chức đào tạo ngành tin học tại Viện Đại học Mở Hà Nội.Từ năm 2011, Khoa chính thức được mang tên là Khoa Công nghệ Thông tin theo quyết định số 71/QĐ-ĐHM-TC ngày 29/03/2011 của Viện trưởng Viện Đại học Mở Hà Nội. Khoa Công nghệ Thông tin (CNTT) có trách nhiệm tổ chức đào tạo các ngành
                                    Công nghệ Thông tin (mã ngành 52480201, trình độ Đại học). Tin học ứng dụng (trình độ Cao đẳng). Các hệ đào tạo và loại hình đào tạo gồm:
                                    Chính quy; Vừa học vừa làm; Từ xa; Văn bằng hai; Từ xa theo phương thức E-Learning; Liên thông từ Cao đẳng lên Đại học;
                                    Liên thông từ Trung cấp lên Đại học. Bên cạnh đó, Khoa luôn thực hiện tốt nhiệm vụ tổ chức nghiên cứu khoa học,
                                    phát triển ứng dụng về CNTT và chuyển giao công nghệ, phối hợp với Khoa Sau đại học hỗ trợ về chuyên môn trong công tác đào tạo sau đại học chuyên ngành CNTT.<br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;Hiện nay, khu giảng đường của Khoa được đặt tại địa chỉ số 96 phố Định Công - quận Hoàng Mai, TP Hà Nội với 10 phòng học và hội trường,
                                    3 phòng máy tính thực hành chuyên biệt, phòng đọc thư viện và tự học cho sinh viên với hơn 1000 đầu sách chuyên ngành,
                                    tài liệu tham khảo, tạp chí phục vụ sinh viên học tập và giảng viên nghiên cứu.<br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;Đội ngũ cán bộ giảng dạy của Khoa bao gồm hơn 80 cán bộ cơ hữu (biên chế, hợp đồng dài hạn) và cộng tác viên, giáo viên thỉnh giảng
                                    trong đó có 10 GS, giảng viên cao cấp và PGS, 13 Tiến sĩ, hơn 50 Thạc sĩ, GVC... với trình độ chuyên môn sâu, kiến thức và
                                    kỹ năng vững vàng,luôn tâm huyết với nghề và sẵn sàng đáp ứng các yêu cầu nhiệm vụ giảng dạy theo nhu cầu thực tế.<br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;Khoa đã tiến hành biên soạn và xuất bản hơn 100 tập sách chuyên khảo, sách giáo trình và tài liệu hướng dẫn học tập phục vụ cho toàn
                                    thể sinh viên trong việc học tập và nghiên cứu. Tập thể cán bộ giảng viên trong Khoa đã và đang thực hiện nhiều nghiên cứu, công bố các
                                    công trình trong các diễn đàn hội nghị, tạp chí chuyên ngành.Cùng với đó, Khoa đã thiết kế, xây dựngvà đưa vào sử dụng nhiều hệ thống
                                    phần mềm phục vụ cho công tác giảng dạy và quản lý trong nhà trường cũng như các phần mềm cho các tổ chức, đơn vị khác.<br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;Khoa đã và đang hợp tác với nhiều doanh nghiệp, các cơ sở nghiên cứu và đào tạo khác cả trong nước và nước ngoài như Viettel, FPT, VCCorp,
                                    VNPT, MISA,… nhằm tạo điều kiện cho sinh viên tham gia các dự án thực tế thông qua đào tạo các chuyên đề, các hoạt động tăng cường
                                    chuyên môn và trao đổi sinh viên với các nước như In-đô-nê-xia, Canada, Nhật Bản, Trung Quốc,...<br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;Sau hơn 20 năm, cho đến nay Khoa đã đào tạo và cung cấp cho xã hội hơn 7000 kỹ sư CNTT với trình độ chuyên môn vững vàng, kỹ năng tốt,
                                    đáp ứng nhu cầu công việc trong lĩnh vực CNTT của thị trường lao động. Hầu hết các cựu sinh viên đang đảm nhiệm tốt các công việc
                                    trong các tổ chức, đơn vị trong nước và nước ngoài, có nhiều cựu sinh viên đang là lãnh đạo, giữ các trọng trách quan trọng.
                                    Hiện nay, quy mô đang được đào tạo hơn 1000 sinh viên và thực hiện đào tạo hoàn toàn theo hệ thống tín chỉ nhằm đem lại những lợi thế to
                                    lớn cho người học. Hàng năm, nhiều sinh viên đạt được các danh hiệu học bổng của nhà trường với mức rất cao và các suất học bổng có giá
                                    trị của các đơn vị, tổ chức trao tặng. Thành công của thời gian qua có được phải dựa vào nhiều yếu tố trong đó kiến thức chiếm 30%, kĩ
                                    năng sống chiếm 30%, ngoại ngữ chiếm 10 -15%, sự tự tin chiếm 30% và quan trọng nhất là truyền thống, các thầy cô cùng tất cả các bạn sinh
                                    viên đều tự hào mình là một mảnh ghép của FITHOU.<br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;Hi vọng rằng Khoa CNTT sẽ có những bước đi ngày càng phát triển hơn nữa, thầy và trò Khoa CNTT sẽ gặt hái được nhiều thành
                                    công hơn nữa trong những chặng đường kế tiếp.
                                </p>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="page-item hide" id="page-hd" style="background:#ffff;">
                        <h2 class="head" style="text-align:center">HƯỚNG DẪN SỬ DỤNG</h2>
                        <p></p>
                        <div class="paragraph" style="margin-top: 10px">
                            <div class="item" style="margin-bottom: 5px">

                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section scripts{
    <script src="~/Content/education-online/tuyensinh/js/scroll.js"></script>
    <script>
        $('document').ready(function () {
            $('#navHuongDan').addClass('active');
        });
    </script>
}


