<div class="modal fade" id="Delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>Nhấn đồng ý để xác nhận xóa!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave" onclick="deleteOne()"> Đồng ý </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal hỏi xác nhận xóa người dùng -->
<div class="modal fade" id="DeleteND" role="dialog">
    <div class="modal-dialog" style="top:20%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p type="hidden" id="NDID_Popup"></p>
                <p>Bạn có muốn xóa giáo viên đã chọn hay không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave" onclick="deleteOne()"> Đồng ý </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal hỏi xác nhận kích hoạt/bỏ kích hoạt người dùng -->
<div class="modal fade" id="status" role="dialog">
    <div class="modal-dialog" style="top:20%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p type="hidden" id="NDID_Popup"></p>
                <p id="noidung"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave" onclick="changeStatus()"> Đồng ý </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Hủy</button>
            </div>
        </div>
    </div>
</div>